.auth-card {
    -fx-background-color: rgba(21, 32, 43, 0.99);
    -fx-background-radius: 10;
    -fx-border-color: rgba(56, 68, 77, 0.3);
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-insets: 0, 0 0 10 0;
}


.auth-input {
    -fx-background-color: transparent;
    -fx-border-color: #38444d;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #8899a6;
    -fx-font-size: 13px;
    -fx-padding: 12 0 8 0;
    -fx-highlight-fill: #1da1f2;
    -fx-highlight-text-fill: white;
    -fx-background-insets: 0;
    -fx-max-width: 240px;
}

.auth-input:focused {
    -fx-border-color: #1da1f2;
    -fx-effect: innershadow(gaussian, rgba(29, 161, 242, 0.3), 0, 0, 2, 0);
}

.primary-button {
    -fx-background-color:  linear-gradient(to top, #1991db 5%, rgb(25, 161, 219) 60%, #1991db);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Arial;
    -fx-font-size: 14px;
    -fx-background-radius: 25;
    -fx-padding: 6 0 6 0;
    -fx-cursor: hand;
    -fx-transition: all 0.2s;
    -fx-pref-width: 150px;
    -fx-pref-height: 20px;
}

.primary-button:hover {
    -fx-background-color: #1991db;
    -fx-effect: dropshadow(three-pass-box, rgba(29, 161, 242, 0.2), 5, 0, 0, 0);
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
}

.primary-button:pressed {
    -fx-background-color: #0e6eab;
    -fx-effect: dropshadow(three-pass-box, rgba(29, 161, 242, 0.2), 5, 0, 0, 0);
    -fx-scale-x: 0.99;
    -fx-scale-y: 0.99;
}

.close-button {
    -fx-fill: #1da1f2;
    -fx-cursor: hand;
    -fx-effect: dropshadow(one-pass-box, rgba(29, 161, 242, 0.3), 3, 0, 0, 0);
    -fx-transition: all 0.3s;
}

.close-button:hover {
    -fx-fill: #FF453A;
    -fx-effect: dropshadow(one-pass-box, rgba(224, 36, 94, 0.4), 5, 0, 0, 0);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

.close-button:pressed {
    -fx-fill: #c01c4f;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.error-label {
    -fx-text-fill: #e0245e;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.error-label.visible {
    -fx-effect: dropshadow(gaussian, rgba(224, 36, 94, 0.2), 5, 0.5, 0, 0);
}

.auth-image {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.3, 0, 5);
    -fx-opacity: 0.95;
}

.auth-image:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 15, 0.31, 0, 5);
    -fx-scale-x: 1.005;
    -fx-scale-y: 1.005;
}
