/* Sliding Toggle Button Styles */
.toggle-container {
    -fx-min-width: 200px;
    -fx-min-height: 30px;
    -fx-background-color: linear-gradient(to bottom, #1f2a38, #141d26);
    -fx-background-radius: 20;
    -fx-border-color: rgba(255, 255, 255, 0.05);
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-padding: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 6, 0.3, 0, 2);
}

/* slider background */
.slider-background {
    -fx-background-radius: 18;
    -fx-arc-width: 36;
    -fx-min-width: 100;
    -fx-fill: linear-gradient(to top, #1991db 5%, rgb(25, 161, 219) 60%, #1991db);
    -fx-arc-height: 36;
    -fx-effect: innershadow(gaussian, rgba(255,255,255,0.2), 2, 0.3, 0, -2);
}

/* Button appearance */
.toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-family: "Segoe UI", "Helvetica Neue", sans-serif;
    -fx-cursor: hand;
    -fx-background-insets: 0;
    -fx-background-radius: 18;
    -fx-alignment: center;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.2), 2, 0.0, 0, 1);
    -fx-padding: 7 10 7 10;
    -fx-opacity: 0.9;
    -fx-transition: all 0.3s ease-in-out;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 18;
    -fx-opacity: 1;
}


